workflows/1030_airtable_talks_to_trello_with_bannerbear.json
{
  "id": "1030",
  "filename": "1030_airtable_talks_to_trello_with_bannerbear",
  "description": "Triggers on manual execution to list talks from Airtable, generates promotional images with Bannerbear, and creates Trello cards for easy management.",
  "content": {
    "id": "55",
    "name": "CFP Selection 2",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          400,
          250
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Airtable",
        "type": "n8n-nodes-base.airtable",
        "position": [
          600,
          250
        ],
        "parameters": {
          "table": "",
          "operation": "list",
          "application": "",
          "additionalOptions": {
            "filterByFormula": "{Total Score} > 15"
          }
        },
        "credentials": {
          "airtableApi": "Airtable"
        },
        "typeVersion": 1
      },
      {
        "name": "Bannerbear",
        "type": "n8n-nodes-base.bannerbear",
        "position": [
          800,
          250
        ],
        "parameters": {
          "templateId": "",
          "modificationsUi": {
            "modificationsValues": [
              {
                "name": "talk title",
                "text": "={{$node[\"Airtable\"].json[\"fields\"][\"What's the title of your talk?\"]}}"
              },
              {
                "name": "abstract",
                "text": "={{$node[\"Airtable\"].json[\"fields\"][\"Please share the abstract of your talk.\"]}}"
              },
              {
                "name": "profile image",
                "imageUrl": "={{$node[\"Airtable\"].json[\"fields\"][\"Please share a URL of your profile picture.\"]}}"
              },
              {
                "name": "username",
                "text": "={{$node[\"Airtable\"].json[\"fields\"][\"Your twitter handle\"]}}"
              },
              {
                "name": "full name",
                "text": "={{$node[\"Airtable\"].json[\"fields\"][\"Great, can we get your full name?\"]}}"
              }
            ]
          },
          "additionalFields": {
            "waitForImage": true
          }
        },
        "credentials": {
          "bannerbearApi": "Bannerbear"
        },
        "typeVersion": 1
      },
      {
        "name": "Trello",
        "type": "n8n-nodes-base.trello",
        "position": [
          1000,
          250
        ],
        "parameters": {
          "name": "={{$node[\"Airtable\"].json[\"fields\"][\"What's the title of your talk?\"]}}",
          "listId": "",
          "description": "=Abstract: {{$node[\"Airtable\"].json[\"fields\"][\"Please share the abstract of your talk.\"]}}\n\nName: {{$node[\"Airtable\"].json[\"fields\"][\"Great, can we get your full name?\"]}}\nBio: {{$node[\"Airtable\"].json[\"fields\"][\"Please share a bit of information about you.\"]}}\nEmail: {{$node[\"Airtable\"].json[\"fields\"][\"And what's your email address?\"]}}\nTwitter: {{$node[\"Airtable\"].json[\"fields\"][\"Your twitter handle\"]}}",
          "additionalFields": {
            "urlSource": "={{$node[\"Bannerbear\"].json[\"image_url\"]}}"
          }
        },
        "credentials": {
          "trelloApi": "Trello"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Airtable": {
        "main": [
          [
            {
              "node": "Bannerbear",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bannerbear": {
        "main": [
          [
            {
              "node": "Trello",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Airtable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Automate talk submissions from Airtable to Trello with Bannerbear",
  "nodes_count": 4,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Core Nodes",
    "Data & Storage",
    "Marketing",
    "Productivity"
  ],
  "services": [
    "Airtable",
    "Bannerbear",
    "Manual",
    "Trello"
  ],
  "difficulty": "Intermediate",
  "triggers": [
    "New Manual Event"
  ],
  "actions": [
    "List"
  ],
  "setup_requirements": [
    "Airtable API Key",
    "Bannerbear API Key",
    "Trello API Key"
  ],
  "workflow_complexity": 4,
  "external_integrations_count": 4
}