workflows/1054_telegram_messages_to_cocktail_images.json
{
  "id": "1054",
  "filename": "1054_telegram_messages_to_cocktail_images",
  "description": "Triggers on new Telegram messages, fetches a random cocktail image, and sends it back to the user with a caption for easy sharing.",
  "content": {
    "id": "58",
    "name": "Receive updates from Telegram and send an image of a cocktail",
    "nodes": [
      {
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "position": [
          570,
          260
        ],
        "webhookId": "806cc2c6-c687-4022-a82e-658e4a684e73",
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": "telegram-bot"
        },
        "typeVersion": 1
      },
      {
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          770,
          260
        ],
        "parameters": {
          "url": "https://www.thecocktaildb.com/api/json/v1/1/random.php",
          "options": {}
        },
        "typeVersion": 1
      },
      {
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "position": [
          970,
          260
        ],
        "parameters": {
          "file": "={{$node[\"HTTP Request\"].json[\"drinks\"][0][\"strDrinkThumb\"]}}",
          "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
          "operation": "sendPhoto",
          "additionalFields": {
            "caption": "={{$node[\"HTTP Request\"].json[\"drinks\"][0][\"strDrink\"]}}",
            "reply_to_message_id": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"message_id\"]}}"
          }
        },
        "credentials": {
          "telegramApi": "telegram-bot"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Send cocktail images in response to Telegram messages",
  "nodes_count": 3,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Communication",
    "Core Nodes",
    "Development",
    "HITL"
  ],
  "services": [
    "HTTP Request",
    "Telegram"
  ],
  "difficulty": "Beginner",
  "triggers": [
    "New Telegram Event"
  ],
  "actions": [
    "Sendphoto"
  ],
  "setup_requirements": [
    "Telegram API Key"
  ],
  "workflow_complexity": 3,
  "external_integrations_count": 2
}