workflows/1077_create_update_wordpress_posts.json
{
  "id": "1077",
  "title": "Create and update WordPress posts automatically",
  "description": "Triggers a post creation in WordPress and updates it with custom content, streamlining content management tasks.",
  "filename": "1077_create_update_wordpress_posts",
  "services": [
    "Manual",
    "Wordpress"
  ],
  "categories": [
    "Core Nodes",
    "Marketing"
  ],
  "difficulty": "Beginner",
  "triggers": [
    "New Manual Event"
  ],
  "actions": [
    "Update"
  ],
  "setup_requirements": [
    "Wordpress API Key"
  ],
  "content": {
    "id": "60",
    "name": "Create a post and update the post in WordPress",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          570,
          260
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Wordpress",
        "type": "n8n-nodes-base.wordpress",
        "position": [
          770,
          260
        ],
        "parameters": {
          "title": "created from n8n",
          "additionalFields": {}
        },
        "credentials": {
          "wordpressApi": "wordpress"
        },
        "typeVersion": 1
      },
      {
        "name": "Wordpress1",
        "type": "n8n-nodes-base.wordpress",
        "position": [
          970,
          260
        ],
        "parameters": {
          "postId": "={{$node[\"Wordpress\"].json[\"id\"]}}",
          "operation": "update",
          "updateFields": {
            "content": "This post was created using the n8n workflow."
          }
        },
        "credentials": {
          "wordpressApi": "wordpress"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Wordpress": {
        "main": [
          [
            {
              "node": "Wordpress1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Wordpress",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}