workflows/1093_typeform_feedback_to_airtable_trello.json
{
  "id": "1093",
  "filename": "1093_typeform_feedback_to_airtable_trello",
  "description": "Captures new Typeform feedback submissions, logs them in Airtable, and creates Trello cards for scores above 7 for better tracking and management.",
  "content": {
    "id": "65",
    "name": "Get Product Feedback",
    "nodes": [
      {
        "name": "Typeform Trigger",
        "type": "n8n-nodes-base.typeformTrigger",
        "position": [
          170,
          260
        ],
        "webhookId": "0cf82c15-eeb8-4b24-bd67-5f4b54a58b6d",
        "parameters": {
          "formId": ""
        },
        "credentials": {
          "typeformApi": "typeform-harshil"
        },
        "typeVersion": 1
      },
      {
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "position": [
          370,
          260
        ],
        "parameters": {
          "values": {
            "number": [
              {
                "name": "Score",
                "value": "={{$node[\"Typeform Trigger\"].json[\"What score would you like to give?\"]}}"
              }
            ],
            "string": [
              {
                "name": "Name",
                "value": "={{$node[\"Typeform Trigger\"].json[\"What is your name?\"]}}"
              },
              {
                "name": "Email",
                "value": "={{$node[\"Typeform Trigger\"].json[\"What is your email address?\"]}}"
              },
              {
                "name": "Description",
                "value": "={{$node[\"Typeform Trigger\"].json[\"Anything else you want to share?\"]}}"
              }
            ]
          },
          "options": {},
          "keepOnlySet": true
        },
        "typeVersion": 1
      },
      {
        "name": "Airtable",
        "type": "n8n-nodes-base.airtable",
        "position": [
          570,
          260
        ],
        "parameters": {
          "table": "Feedback",
          "options": {},
          "operation": "append",
          "application": ""
        },
        "credentials": {
          "airtableApi": "airtable-harshil"
        },
        "typeVersion": 1
      },
      {
        "name": "IF",
        "type": "n8n-nodes-base.if",
        "position": [
          770,
          260
        ],
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{$node[\"Set\"].json[\"Score\"]}}",
                "value2": 7
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Trello",
        "type": "n8n-nodes-base.trello",
        "position": [
          970,
          160
        ],
        "parameters": {
          "name": "=[{{$node[\"IF\"].json[\"fields\"][\"Score\"]}}] {{$node[\"IF\"].json[\"fields\"][\"Name\"]}}",
          "listId": "5fbb9e2eb1d5cc0a8a7ab8ac",
          "description": "=Name: {{$node[\"IF\"].json[\"fields\"][\"Name\"]}}\nEmail: {{$node[\"IF\"].json[\"fields\"][\"Email\"]}}\nScore: {{$node[\"IF\"].json[\"fields\"][\"Score\"]}}\nDescription: {{$node[\"IF\"].json[\"fields\"][\"Description\"]}}",
          "additionalFields": {}
        },
        "credentials": {
          "trelloApi": "Trello Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "NoOp",
        "type": "n8n-nodes-base.noOp",
        "position": [
          970,
          360
        ],
        "parameters": {},
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "IF": {
        "main": [
          [
            {
              "node": "Trello",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "NoOp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set": {
        "main": [
          [
            {
              "node": "Airtable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Airtable": {
        "main": [
          [
            {
              "node": "IF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Typeform Trigger": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Automate Typeform feedback logging to Airtable and Trello",
  "nodes_count": 6,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Communication",
    "Core Nodes",
    "Data & Storage",
    "Productivity"
  ],
  "services": [
    "Airtable",
    "Edit Fields (Set)",
    "If",
    "No Operation, do nothing",
    "Trello",
    "Typeform"
  ],
  "difficulty": "Intermediate",
  "triggers": [
    "New Typeform Event"
  ],
  "actions": [
    "Append",
    "Filter Data",
    "Set Data"
  ],
  "setup_requirements": [
    "Airtable API Key",
    "Trello API Key",
    "Typeform API Key"
  ],
  "workflow_complexity": 6,
  "external_integrations_count": 6
}