workflows/1096_update_salesforce_lead_add_note.json
{
  "id": "1096",
  "filename": "1096_update_salesforce_lead_add_note",
  "description": "Triggers a Salesforce lead update and adds a note when a deal is marked as won, streamlining sales tracking and communication.",
  "content": {
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          420,
          260
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Salesforce",
        "type": "n8n-nodes-base.salesforce",
        "position": [
          620,
          260
        ],
        "parameters": {
          "company": "CompanyInc",
          "lastname": "DudeOne",
          "additionalFields": {}
        },
        "credentials": {
          "salesforceOAuth2Api": "salesforce_creds"
        },
        "typeVersion": 1
      },
      {
        "name": "Salesforce1",
        "type": "n8n-nodes-base.salesforce",
        "position": [
          810,
          260
        ],
        "parameters": {
          "leadId": "={{$node[\"Salesforce\"].json[\"id\"]}}",
          "operation": "update",
          "updateFields": {
            "city": "Berlin"
          }
        },
        "credentials": {
          "salesforceOAuth2Api": "salesforce_creds"
        },
        "typeVersion": 1
      },
      {
        "name": "Salesforce2",
        "type": "n8n-nodes-base.salesforce",
        "position": [
          1020,
          260
        ],
        "parameters": {
          "title": "Deal Won!",
          "leadId": "={{$node[\"Salesforce\"].json[\"id\"]}}",
          "options": {},
          "operation": "addNote"
        },
        "credentials": {
          "salesforceOAuth2Api": "salesforce_creds"
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "Salesforce": {
        "main": [
          [
            {
              "node": "Salesforce1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Salesforce1": {
        "main": [
          [
            {
              "node": "Salesforce2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Salesforce",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Update Salesforce Lead and Add Note on Deal Won",
  "nodes_count": 4,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Communication",
    "Core Nodes",
    "Sales"
  ],
  "services": [
    "Manual",
    "Salesforce"
  ],
  "difficulty": "Beginner",
  "triggers": [
    "New Manual Event"
  ],
  "actions": [
    "Addnote",
    "Update"
  ],
  "setup_requirements": [
    "Salesforce Account"
  ],
  "workflow_complexity": 4,
  "external_integrations_count": 2
}