workflows/1120_weather_data_from_openweathermap.json
{
  "id": "1120",
  "filename": "1120_weather_data_from_openweathermap",
  "description": "Automatically retrieves weather information for a specified city and formats the data for easy access, including temperature, humidity, and wind speed.",
  "content": {
    "nodes": [
      {
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "position": [
          870,
          300
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "tempC",
                "value": "={{$json[\"main\"][\"temp\"]}}"
              },
              {
                "name": "humidity",
                "value": "={{$json[\"main\"][\"humidity\"]}}"
              },
              {
                "name": "windspeed",
                "value": "={{$json[\"wind\"][\"speed\"]}}"
              },
              {
                "name": "description",
                "value": "={{$json[\"weather\"][0][\"description\"]}}"
              },
              {
                "name": "city",
                "value": "={{$json[\"name\"]}}, {{$json[\"sys\"][\"country\"]}}"
              }
            ]
          },
          "options": {},
          "keepOnlySet": true
        },
        "typeVersion": 1
      },
      {
        "name": "OpenWeatherMap",
        "type": "n8n-nodes-base.openWeatherMap",
        "position": [
          650,
          300
        ],
        "parameters": {
          "cityName": "={{$json[\"body\"][\"city\"]}}"
        },
        "credentials": {
          "openWeatherMapApi": "open-weather-map"
        },
        "typeVersion": 1
      },
      {
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "position": [
          450,
          300
        ],
        "webhookId": "39f1b81f-f538-4b94-8788-29180d5e4016",
        "parameters": {
          "path": "39f1b81f-f538-4b94-8788-29180d5e4016",
          "options": {},
          "responseData": "allEntries",
          "responseMode": "lastNode"
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "OpenWeatherMap",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenWeatherMap": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Fetch and Format Weather Data from OpenWeatherMap",
  "nodes_count": 3,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Core Nodes",
    "Development",
    "Miscellaneous",
    "Utility"
  ],
  "services": [
    "Edit Fields (Set)",
    "OpenWeatherMap",
    "Webhook"
  ],
  "difficulty": "Intermediate",
  "triggers": [],
  "actions": [
    "Set Data"
  ],
  "setup_requirements": [
    "OpenWeatherMap API Key"
  ],
  "workflow_complexity": 3,
  "external_integrations_count": 3
}