workflows/1156_create_manage_contacts_automizy.json
{
  "id": "1156",
  "title": "Create and Manage Contacts in Automizy Lists",
  "description": "Triggers a new contact list creation in Automizy, adds a contact, updates their status, and retrieves all contacts for easy management.",
  "filename": "1156_create_manage_contacts_automizy",
  "services": [
    "Automizy",
    "Manual"
  ],
  "categories": [
    "Communication",
    "Core Nodes",
    "Marketing"
  ],
  "difficulty": "Beginner",
  "triggers": [
    "New Manual Event"
  ],
  "actions": [
    "Getall",
    "Manage list",
    "Update"
  ],
  "setup_requirements": [
    "Automizy API Key"
  ],
  "content": {
    "id": "82",
    "name": "Create a new list, add a new contact to the list, update the contact, and get all contacts in the list",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          290,
          260
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Automizy",
        "type": "n8n-nodes-base.automizy",
        "position": [
          490,
          260
        ],
        "parameters": {
          "name": "n8n-docs",
          "resource": "list"
        },
        "credentials": {
          "automizyApi": "automizy"
        },
        "typeVersion": 1
      },
      {
        "name": "Automizy1",
        "type": "n8n-nodes-base.automizy",
        "position": [
          690,
          260
        ],
        "parameters": {
          "email": "example@n8n.io",
          "listId": "={{$node[\"Automizy\"].json[\"id\"]}}",
          "additionalFields": {
            "status": "ACTIVE"
          }
        },
        "credentials": {
          "automizyApi": "automizy"
        },
        "typeVersion": 1
      },
      {
        "name": "Automizy2",
        "type": "n8n-nodes-base.automizy",
        "position": [
          890,
          260
        ],
        "parameters": {
          "email": "={{$node[\"Automizy1\"].json[\"email\"]}}",
          "operation": "update",
          "updateFields": {
            "tags": [
              "reviewer"
            ]
          }
        },
        "credentials": {
          "automizyApi": "automizy"
        },
        "typeVersion": 1
      },
      {
        "name": "Automizy3",
        "type": "n8n-nodes-base.automizy",
        "position": [
          1090,
          260
        ],
        "parameters": {
          "listId": "={{$node[\"Automizy\"].json[\"id\"]}}",
          "operation": "getAll",
          "returnAll": true,
          "additionalFields": {}
        },
        "credentials": {
          "automizyApi": "automizy"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Automizy": {
        "main": [
          [
            {
              "node": "Automizy1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Automizy1": {
        "main": [
          [
            {
              "node": "Automizy2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Automizy2": {
        "main": [
          [
            {
              "node": "Automizy3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Automizy",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}