workflows/1194_typeform_submissions_to_slack.json
{
  "id": "1194",
  "filename": "1194_typeform_submissions_to_slack",
  "description": "Automatically captures new submissions from Typeform, stores the data in Airtable, and sends a notification to Slack with the respondent's name and email.",
  "content": {
    "nodes": [
      {
        "name": "Typeform Trigger",
        "type": "n8n-nodes-base.typeformTrigger",
        "position": [
          590,
          300
        ],
        "webhookId": "c8e53100-0616-4d3c-95b8-261eb0d1632b",
        "parameters": {
          "formId": "dpr2kxSL"
        },
        "credentials": {
          "typeformApi": "Typeform Access Token"
        },
        "typeVersion": 1
      },
      {
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "position": [
          790,
          300
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "Name",
                "value": "={{$json[\"Let's start with your name.\"]}}"
              },
              {
                "name": "Email",
                "value": "={{$json[\"What's your email address?\"]}}"
              }
            ]
          },
          "options": {},
          "keepOnlySet": true
        },
        "typeVersion": 1
      },
      {
        "name": "Airtable",
        "type": "n8n-nodes-base.airtable",
        "position": [
          990,
          300
        ],
        "parameters": {
          "table": "Table 1",
          "options": {},
          "operation": "append",
          "application": ""
        },
        "credentials": {
          "airtableApi": "Airtable Credentials n8n"
        },
        "typeVersion": 1
      },
      {
        "name": "Slack",
        "type": "n8n-nodes-base.slack",
        "position": [
          1190,
          300
        ],
        "parameters": {
          "text": "=*New Submission* 🙌\nName: {{$node[\"Set\"].json[\"Name\"]}}\nEmail: {{$node[\"Set\"].json[\"Email\"]}}",
          "channel": "general",
          "attachments": [],
          "otherOptions": {}
        },
        "credentials": {
          "slackApi": "Slack Bot Credentials"
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "Set": {
        "main": [
          [
            {
              "node": "Airtable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Airtable": {
        "main": [
          [
            {
              "node": "Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Typeform Trigger": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Capture Typeform submissions and notify via Slack",
  "nodes_count": 4,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Communication",
    "Data & Storage",
    "HITL"
  ],
  "services": [
    "Airtable",
    "Edit Fields (Set)",
    "Slack",
    "Typeform"
  ],
  "difficulty": "Intermediate",
  "triggers": [
    "New Typeform Event"
  ],
  "actions": [
    "Append",
    "Set Data"
  ],
  "setup_requirements": [
    "Airtable API Key",
    "Slack API Key",
    "Typeform API Key"
  ],
  "workflow_complexity": 4,
  "external_integrations_count": 4
}