workflows/1208_affiliate_updates_in_tapfiliate.json
{
  "id": "1208",
  "title": "Automate affiliate metadata updates in Tapfiliate",
  "description": "Triggers a process to create a new affiliate in Tapfiliate, updates their metadata, and manages program affiliation seamlessly.",
  "filename": "1208_affiliate_updates_in_tapfiliate",
  "services": [
    "Manual",
    "Tapfiliate"
  ],
  "categories": [
    "Core Nodes",
    "Sales"
  ],
  "difficulty": "Beginner",
  "triggers": [
    "New Manual Event"
  ],
  "actions": [
    "Manage affiliateMetadata",
    "Manage programAffiliate"
  ],
  "setup_requirements": [
    "Tapfiliate API Key"
  ],
  "content": {
    "nodes": [
      {
        "name": "Tapfiliate2",
        "type": "n8n-nodes-base.tapfiliate",
        "position": [
          870,
          300
        ],
        "parameters": {
          "resource": "programAffiliate",
          "programId": "testing-program-5",
          "affiliateId": "={{$node[\"Tapfiliate\"].json[\"id\"]}}",
          "additionalFields": {}
        },
        "credentials": {
          "tapfiliateApi": "Tapfiliate API credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "Tapfiliate1",
        "type": "n8n-nodes-base.tapfiliate",
        "position": [
          670,
          300
        ],
        "parameters": {
          "resource": "affiliateMetadata",
          "metadataUi": {
            "metadataValues": [
              {
                "key": "tag",
                "value": "n8n"
              }
            ]
          },
          "affiliateId": "={{$json[\"id\"]}}"
        },
        "credentials": {
          "tapfiliateApi": "Tapfiliate API credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "Tapfiliate",
        "type": "n8n-nodes-base.tapfiliate",
        "position": [
          470,
          300
        ],
        "parameters": {
          "email": "n8ndocsburner@gmail.com",
          "lastname": "Ryan",
          "firstname": "Jack",
          "additionalFields": {}
        },
        "credentials": {
          "tapfiliateApi": "Tapfiliate API credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          270,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      }
    ],
    "connections": {
      "Tapfiliate": {
        "main": [
          [
            {
              "node": "Tapfiliate1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tapfiliate1": {
        "main": [
          [
            {
              "node": "Tapfiliate2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Tapfiliate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}