workflows/1212_bookmark_management_in_raindrop.json
{
  "id": "1212",
  "filename": "1212_bookmark_management_in_raindrop",
  "description": "Creates a new bookmark in Raindrop, adds documentation links, and updates bookmark titles automatically for better organization.",
  "content": {
    "nodes": [
      {
        "name": "Raindrop",
        "type": "n8n-nodes-base.raindrop",
        "position": [
          470,
          320
        ],
        "parameters": {
          "title": "n8n-docs",
          "operation": "create",
          "additionalFields": {}
        },
        "credentials": {
          "raindropOAuth2Api": "Raindrop OAuth Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "Raindrop1",
        "type": "n8n-nodes-base.raindrop",
        "position": [
          670,
          320
        ],
        "parameters": {
          "link": "https://docs.n8n.io",
          "resource": "bookmark",
          "operation": "create",
          "collectionId": "={{$json[\"_id\"]}}",
          "additionalFields": {
            "title": "Documentation"
          }
        },
        "credentials": {
          "raindropOAuth2Api": "Raindrop OAuth Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "Raindrop2",
        "type": "n8n-nodes-base.raindrop",
        "position": [
          870,
          320
        ],
        "parameters": {
          "resource": "bookmark",
          "operation": "update",
          "bookmarkId": "={{$json[\"_id\"]}}",
          "updateFields": {
            "title": "n8n Documentation"
          }
        },
        "credentials": {
          "raindropOAuth2Api": "Raindrop OAuth Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "Raindrop3",
        "type": "n8n-nodes-base.raindrop",
        "position": [
          1070,
          320
        ],
        "parameters": {
          "resource": "bookmark",
          "bookmarkId": "={{$json[\"_id\"]}}"
        },
        "credentials": {
          "raindropOAuth2Api": "Raindrop OAuth Credentials"
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "Raindrop": {
        "main": [
          [
            {
              "node": "Raindrop1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Raindrop1": {
        "main": [
          [
            {
              "node": "Raindrop2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Raindrop2": {
        "main": [
          [
            {
              "node": "Raindrop3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Automate bookmark creation and updates in Raindrop",
  "nodes_count": 4,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Productivity"
  ],
  "services": [
    "Raindrop"
  ],
  "difficulty": "Beginner",
  "triggers": [],
  "actions": [
    "Create",
    "Manage bookmark",
    "Update"
  ],
  "setup_requirements": [
    "Raindrop Account"
  ],
  "workflow_complexity": 4,
  "external_integrations_count": 1
}