workflows/1216_create_update_webinar_gotowebinar.json
{
  "id": "1216",
  "filename": "1216_create_update_webinar_gotowebinar",
  "description": "Creates a new webinar in GoToWebinar and automatically updates its description, streamlining your webinar management process.",
  "content": {
    "nodes": [
      {
        "name": "GoToWebinar2",
        "type": "n8n-nodes-base.goToWebinar",
        "position": [
          930,
          280
        ],
        "parameters": {
          "resource": "webinar",
          "webinarKey": "={{$node[\"GoToWebinar\"].json[\"webinarKey\"]}}"
        },
        "credentials": {
          "goToWebinarOAuth2Api": "GoToWebinar OAuth Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "GoToWebinar1",
        "type": "n8n-nodes-base.goToWebinar",
        "position": [
          730,
          280
        ],
        "parameters": {
          "resource": "webinar",
          "operation": "update",
          "webinarKey": "={{$json[\"webinarKey\"]}}",
          "updateFields": {
            "description": "Get started with n8n and create your first automation workflow"
          }
        },
        "credentials": {
          "goToWebinarOAuth2Api": "GoToWebinar OAuth Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "GoToWebinar",
        "type": "n8n-nodes-base.goToWebinar",
        "position": [
          520,
          280
        ],
        "parameters": {
          "times": {
            "timesProperties": [
              {
                "endTime": "2021-03-02T10:00:00.000Z",
                "startTime": "2021-03-02T09:00:00.000Z"
              }
            ]
          },
          "subject": "Getting started with n8n",
          "resource": "webinar",
          "operation": "create",
          "additionalFields": {}
        },
        "credentials": {
          "goToWebinarOAuth2Api": "GoToWebinar OAuth Credentials"
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "GoToWebinar": {
        "main": [
          [
            {
              "node": "GoToWebinar1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GoToWebinar1": {
        "main": [
          [
            {
              "node": "GoToWebinar2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Automate webinar creation and updates in GoToWebinar",
  "nodes_count": 3,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Communication"
  ],
  "services": [
    "GoToWebinar"
  ],
  "difficulty": "Beginner",
  "triggers": [],
  "actions": [
    "Create",
    "Manage webinar",
    "Update"
  ],
  "setup_requirements": [
    "GoToWebinar Account"
  ],
  "workflow_complexity": 3,
  "external_integrations_count": 1
}