workflows/1223_airtable_leads_to_lemlist.json
{
  "id": "1223",
  "filename": "1223_airtable_leads_to_lemlist",
  "description": "Lists leads from Airtable and automatically adds them to a Lemlist campaign for streamlined email outreach.",
  "content": {
    "nodes": [
      {
        "name": "Airtable",
        "type": "n8n-nodes-base.airtable",
        "position": [
          440,
          320
        ],
        "parameters": {
          "operation": "list",
          "additionalOptions": {}
        },
        "credentials": {
          "airtableApi": "Airtable Credentials n8n"
        },
        "typeVersion": 1
      },
      {
        "name": "Lemlist",
        "type": "n8n-nodes-base.lemlist",
        "position": [
          640,
          320
        ],
        "parameters": {
          "email": "={{$json[\"fields\"][\"Email\"]}}",
          "resource": "lead",
          "campaignId": "cam_H5pYEryq6mRKBiy5v",
          "additionalFields": {
            "firstName": "={{$json[\"fields\"][\"Name\"]}}"
          }
        },
        "credentials": {
          "lemlistApi": "Lemlist API Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "Lemlist1",
        "type": "n8n-nodes-base.lemlist",
        "position": [
          840,
          320
        ],
        "parameters": {
          "email": "={{$node[\"Airtable\"].json[\"fields\"][\"Email\"]}}",
          "resource": "lead",
          "operation": "get"
        },
        "credentials": {
          "lemlistApi": "Lemlist API Credentials"
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "Lemlist": {
        "main": [
          [
            {
              "node": "Lemlist1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Airtable": {
        "main": [
          [
            {
              "node": "Lemlist",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Automate lead management from Airtable to Lemlist",
  "nodes_count": 3,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Communication",
    "Data & Storage",
    "Marketing"
  ],
  "services": [
    "Airtable",
    "Lemlist"
  ],
  "difficulty": "Beginner",
  "triggers": [],
  "actions": [
    "Get",
    "List",
    "Manage lead"
  ],
  "setup_requirements": [
    "Airtable API Key",
    "Lemlist API Key"
  ],
  "workflow_complexity": 3,
  "external_integrations_count": 2
}