workflows/130_sync_hubspot_contacts_with_pipedrive_persons.json
{
  "id": "130",
  "filename": "130_sync_hubspot_contacts_with_pipedrive_persons",
  "description": "Automatically retrieves contacts from HubSpot and persons from Pipedrive every minute, merging them to ensure consistent data across platforms.",
  "content": {
    "nodes": [
      {
        "name": "Hubspot",
        "type": "n8n-nodes-base.hubspot",
        "position": [
          750,
          900
        ],
        "parameters": {
          "resource": "contact",
          "operation": "getAll",
          "returnAll": true,
          "additionalFields": {}
        },
        "credentials": {
          "hubspotApi": {
            "id": "21",
            "name": "hubspot_nodeqa"
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Pipedrive",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          750,
          710
        ],
        "parameters": {
          "resource": "person",
          "operation": "getAll",
          "returnAll": true,
          "additionalFields": {}
        },
        "credentials": {
          "pipedriveApi": {
            "id": "15",
            "name": "asasas"
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "position": [
          950,
          800
        ],
        "parameters": {
          "mode": "removeKeyMatches",
          "propertyName1": "email[0].value",
          "propertyName2": "identity-profiles[0].identities[0].value"
        },
        "typeVersion": 1
      },
      {
        "name": "HubSpot2",
        "type": "n8n-nodes-base.hubspot",
        "position": [
          1150,
          800
        ],
        "parameters": {
          "email": "={{$json[\"email\"][0][\"value\"]}}",
          "resource": "contact",
          "additionalFields": {
            "firstName": "={{$json[\"first_name\"]}}"
          }
        },
        "credentials": {
          "hubspotApi": {
            "id": "21",
            "name": "hubspot_nodeqa"
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Cron",
        "type": "n8n-nodes-base.cron",
        "position": [
          550,
          800
        ],
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          }
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "Cron": {
        "main": [
          [
            {
              "node": "Pipedrive",
              "type": "main",
              "index": 0
            },
            {
              "node": "Hubspot",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "HubSpot2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hubspot": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Pipedrive": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Sync HubSpot contacts with Pipedrive persons",
  "nodes_count": 5,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Core Nodes",
    "Sales"
  ],
  "services": [
    "Cron",
    "HubSpot",
    "Merge",
    "Pipedrive"
  ],
  "difficulty": "Intermediate",
  "triggers": [],
  "actions": [
    "Getall",
    "Manage contact",
    "Manage person"
  ],
  "setup_requirements": [
    "HubSpot API Key",
    "Pipedrive API Key"
  ],
  "workflow_complexity": 5,
  "external_integrations_count": 4
}