workflows/154_mattermost_cocktail_recipes.json
{
  "id": "154",
  "filename": "154_mattermost_cocktail_recipes",
  "description": "Triggers via a webhook to fetch a random cocktail recipe and sends a formatted message with details to a Mattermost channel.",
  "content": {
    "id": "13",
    "name": "Mattermost Webhook",
    "nodes": [
      {
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "position": [
          340,
          200
        ],
        "parameters": {
          "path": "webhook",
          "options": {},
          "httpMethod": "POST"
        },
        "typeVersion": 1
      },
      {
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          570,
          200
        ],
        "parameters": {
          "url": "https://www.thecocktaildb.com/api/json/v1/1/random.php",
          "options": {}
        },
        "typeVersion": 1
      },
      {
        "name": "Mattermost",
        "type": "n8n-nodes-base.mattermost",
        "position": [
          770,
          200
        ],
        "parameters": {
          "message": "=Why not try {{$node[\"HTTP Request\"].json[\"drinks\"][0][\"strDrink\"]}}?\n{{$node[\"HTTP Request\"].json[\"drinks\"][0][\"strInstructions\"]}} Serve in {{$node[\"HTTP Request\"].json[\"drinks\"][0][\"strGlass\"]}}.",
          "channelId": "={{$node[\"Webhook\"].json[\"body\"][\"channel_id\"]}}",
          "attachments": [
            {
              "image_url": "={{$node[\"HTTP Request\"].json[\"drinks\"][0][\"strDrinkThumb\"]}}"
            }
          ],
          "otherOptions": {}
        },
        "credentials": {
          "mattermostApi": "Mattermost"
        },
        "typeVersion": 1
      }
    ],
    "active": true,
    "settings": {},
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Mattermost",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Send Mattermost messages with random cocktail recipes",
  "nodes_count": 3,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Communication",
    "Core Nodes",
    "Development"
  ],
  "services": [
    "HTTP Request",
    "Mattermost",
    "Webhook"
  ],
  "difficulty": "Intermediate",
  "triggers": [],
  "actions": [],
  "setup_requirements": [
    "Mattermost API Key"
  ],
  "workflow_complexity": 3,
  "external_integrations_count": 3
}