workflows/165_webhook_hmac_sha256_token.json
{
  "id": "165",
  "filename": "165_webhook_hmac_sha256_token",
  "description": "Captures incoming data from a webhook, generates an HMAC SHA256 token using a secret, and prepares the response token for further processing.",
  "content": {
    "nodes": [
      {
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "position": [
          460,
          300
        ],
        "webhookId": "0db0a40c-e5d1-463f-8252-03599f1303e6",
        "parameters": {
          "path": "0db0a40c-e5d1-463f-8252-03599f1303e6",
          "options": {},
          "responseMode": "lastNode"
        },
        "typeVersion": 1
      },
      {
        "name": "Crypto",
        "type": "n8n-nodes-base.crypto",
        "position": [
          660,
          300
        ],
        "parameters": {
          "type": "SHA256",
          "value": "={{$json[\"query\"][\"crc_token\"]}}",
          "action": "hmac",
          "secret": "API KEY SECRET",
          "encoding": "base64"
        },
        "typeVersion": 1
      },
      {
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "position": [
          840,
          300
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "response_token",
                "value": "=sha256={{$json[\"data\"]}}"
              }
            ]
          },
          "options": {},
          "keepOnlySet": true
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "Crypto": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Crypto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Generate HMAC SHA256 response token from Webhook data",
  "nodes_count": 3,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Core Nodes",
    "Development"
  ],
  "services": [
    "Crypto",
    "Edit Fields (Set)",
    "Webhook"
  ],
  "difficulty": "Intermediate",
  "triggers": [],
  "actions": [
    "Set Data"
  ],
  "setup_requirements": [],
  "workflow_complexity": 3,
  "external_integrations_count": 3
}