workflows/196_incident_management_pagerduty.json
{
  "id": "196",
  "filename": "196_incident_management_pagerduty",
  "description": "Triggers incident creation in PagerDuty, updates the incident details, and retrieves the updated incident information for tracking.",
  "content": {
    "id": "158",
    "name": "Create, update, and get an incident on PagerDuty",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          240,
          260
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "PagerDuty",
        "type": "n8n-nodes-base.pagerDuty",
        "position": [
          440,
          260
        ],
        "parameters": {
          "email": "",
          "title": "Firewall on Fire",
          "serviceId": "",
          "additionalFields": {}
        },
        "credentials": {
          "pagerDutyApi": ""
        },
        "typeVersion": 1
      },
      {
        "name": "PagerDuty2",
        "type": "n8n-nodes-base.pagerDuty",
        "position": [
          840,
          260
        ],
        "parameters": {
          "operation": "get",
          "incidentId": "={{$node[\"PagerDuty1\"].json[\"id\"]}}"
        },
        "credentials": {
          "pagerDutyApi": ""
        },
        "typeVersion": 1
      },
      {
        "name": "PagerDuty1",
        "type": "n8n-nodes-base.pagerDuty",
        "position": [
          640,
          260
        ],
        "parameters": {
          "email": "={{$node[\"PagerDuty\"].parameter[\"email\"]}}",
          "operation": "update",
          "incidentId": "={{$node[\"PagerDuty\"].json[\"id\"]}}",
          "updateFields": {
            "title": "Firewalls on Fire"
          }
        },
        "credentials": {
          "pagerDutyApi": ""
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "PagerDuty": {
        "main": [
          [
            {
              "node": "PagerDuty1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PagerDuty1": {
        "main": [
          [
            {
              "node": "PagerDuty2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "PagerDuty",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Automate incident management in PagerDuty",
  "nodes_count": 4,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Communication",
    "Core Nodes",
    "Development"
  ],
  "services": [
    "Manual",
    "PagerDuty"
  ],
  "difficulty": "Beginner",
  "triggers": [
    "New Manual Event"
  ],
  "actions": [
    "Get",
    "Update"
  ],
  "setup_requirements": [
    "PagerDuty API Key"
  ],
  "workflow_complexity": 4,
  "external_integrations_count": 2
}