workflows/203_analyze_urls_with_cortex.json
{
  "id": "203",
  "filename": "203_analyze_urls_with_cortex",
  "description": "Triggers an analysis of a specified URL for potential threats and retrieves detailed job results from Cortex, enhancing security monitoring.",
  "content": {
    "id": "160",
    "name": "Analyze a URL and get the job details using the Cortex node",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          370,
          220
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Cortex",
        "type": "n8n-nodes-base.cortex",
        "position": [
          570,
          220
        ],
        "parameters": {
          "analyzer": "f4abc1b633b80f45af165970793fd4fd::Abuse_Finder_3_0",
          "observableType": "url",
          "observableValue": "https://n8n.io",
          "additionalFields": {}
        },
        "credentials": {
          "cortexApi": "cortex"
        },
        "typeVersion": 1
      },
      {
        "name": "Cortex1",
        "type": "n8n-nodes-base.cortex",
        "position": [
          770,
          220
        ],
        "parameters": {
          "jobId": "={{$node[\"Cortex\"].json[\"_id\"]}}",
          "resource": "job"
        },
        "credentials": {
          "cortexApi": "cortex"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Cortex": {
        "main": [
          [
            {
              "node": "Cortex1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Cortex",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Analyze URLs for threats using Cortex automation",
  "nodes_count": 3,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Analytics",
    "Core Nodes",
    "Development"
  ],
  "services": [
    "Cortex",
    "Manual"
  ],
  "difficulty": "Beginner",
  "triggers": [
    "New Manual Event"
  ],
  "actions": [
    "Manage job"
  ],
  "setup_requirements": [
    "Cortex API Key"
  ],
  "workflow_complexity": 3,
  "external_integrations_count": 2
}