workflows/306_website_screenshots_to_telegram.json
{
  "id": "306",
  "filename": "306_website_screenshots_to_telegram",
  "description": "Triggers a screenshot capture of a specified website and automatically sends the image to a Telegram channel for easy sharing.",
  "content": {
    "id": "191",
    "name": "Create a screenshot of a website and send it to a telegram channel",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          250,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "position": [
          650,
          300
        ],
        "parameters": {
          "file": "={{$node[\"uProc\"].json[\"message\"][\"result\"]}}",
          "chatId": "",
          "operation": "sendPhoto",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": "Telegram n8n bot"
        },
        "typeVersion": 1
      },
      {
        "name": "uProc",
        "type": "n8n-nodes-base.uproc",
        "position": [
          450,
          300
        ],
        "parameters": {
          "url": "https://n8n.io",
          "tool": "getUrlScreenshot",
          "group": "image",
          "width": "1024",
          "fullpage": "yes",
          "additionalOptions": {}
        },
        "credentials": {
          "uprocApi": "uProc credentials"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "uProc": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "uProc",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Create website screenshots and send them to Telegram",
  "nodes_count": 3,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Communication",
    "Core Nodes",
    "Data & Storage",
    "HITL"
  ],
  "services": [
    "Manual",
    "Telegram",
    "uProc"
  ],
  "difficulty": "Beginner",
  "triggers": [
    "New Manual Event"
  ],
  "actions": [
    "Sendphoto"
  ],
  "setup_requirements": [
    "Telegram API Key",
    "uProc API Key"
  ],
  "workflow_complexity": 3,
  "external_integrations_count": 3
}