workflows/33_create_update_filemaker_records.json
{
  "id": "33",
  "filename": "33_create_update_filemaker_records",
  "description": "Manually triggers the creation of a new FileMaker record with user details, then updates the record with additional information, streamlining data entry.",
  "content": {
    "nodes": [
      {
        "name": "FileMaker",
        "type": "n8n-nodes-base.filemaker",
        "position": [
          450,
          320
        ],
        "parameters": {
          "action": "create",
          "layout": "My Form Layout",
          "fieldsParametersUi": {
            "fields": [
              {
                "name": "first_name",
                "value": "Harshil"
              },
              {
                "name": "last_name",
                "value": "Agrawal"
              }
            ]
          }
        },
        "credentials": {
          "fileMaker": "FileMaker API Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          250,
          320
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "FileMaker",
        "type": "n8n-nodes-base.filemaker",
        "position": [
          450,
          320
        ],
        "parameters": {
          "action": "create",
          "layout": "My Form Layout",
          "fieldsParametersUi": {
            "fields": [
              {
                "name": "first_name",
                "value": "Harshil"
              },
              {
                "name": "last_name",
                "value": "Agrawal"
              }
            ]
          }
        },
        "credentials": {
          "fileMaker": "FileMaker API Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "FileMaker2",
        "type": "n8n-nodes-base.filemaker",
        "position": [
          650,
          320
        ],
        "parameters": {
          "modId": "={{$json[\"response\"][\"modId\"]}}",
          "recid": "={{$json[\"response\"][\"recordId\"]}}",
          "action": "edit",
          "layout": "My Form Layout",
          "fieldsParametersUi": {
            "fields": [
              {
                "name": "address_country",
                "value": "Germany"
              }
            ]
          }
        },
        "credentials": {
          "fileMaker": "FileMaker API Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "FileMaker3",
        "type": "n8n-nodes-base.filemaker",
        "position": [
          850,
          320
        ],
        "parameters": {
          "recid": "={{$node[\"FileMaker\"].json[\"response\"][\"recordId\"]}}",
          "layout": "My Form Layout"
        },
        "credentials": {
          "fileMaker": "FileMaker API Credentials"
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "FileMaker": {
        "main": [
          [
            {
              "node": "FileMaker2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "FileMaker2": {
        "main": [
          [
            {
              "node": "FileMaker3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "FileMaker",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Create and Update FileMaker Records with Manual Trigger",
  "nodes_count": 5,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Core Nodes",
    "Data & Storage",
    "Development"
  ],
  "services": [
    "FileMaker",
    "Manual"
  ],
  "difficulty": "Beginner",
  "triggers": [
    "New Manual Event"
  ],
  "actions": [],
  "setup_requirements": [],
  "workflow_complexity": 5,
  "external_integrations_count": 2
}