workflows/348_mailchimp_subscribers_from_airtable.json
{
  "id": "348",
  "title": "Create Mailchimp subscribers from Airtable user data",
  "description": "Automatically retrieves user information from Airtable and adds them as subscribers to a Mailchimp list, streamlining email marketing efforts.",
  "filename": "348_mailchimp_subscribers_from_airtable",
  "services": [
    "Airtable",
    "Cron",
    "Mailchimp"
  ],
  "categories": [
    "Communication",
    "Core Nodes",
    "Data & Storage",
    "Marketing"
  ],
  "difficulty": "Beginner",
  "triggers": [],
  "actions": [
    "List"
  ],
  "setup_requirements": [
    "Airtable API Key",
    "Mailchimp API Key"
  ],
  "content": {
    "id": "1",
    "name": "Create entry in Mailchimp from Airtable",
    "nodes": [
      {
        "name": "Cron",
        "type": "n8n-nodes-base.cron",
        "position": [
          450,
          450
        ],
        "parameters": {
          "triggerTimes": {
            "item": [
              {}
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Airtable",
        "type": "n8n-nodes-base.airtable",
        "position": [
          650,
          450
        ],
        "parameters": {
          "table": "Users",
          "operation": "list",
          "application": "=apprZs8g4tIGDUtqQ",
          "additionalOptions": {
            "fields": [
              "Name",
              "Email",
              "Interest"
            ]
          }
        },
        "credentials": {
          "airtableApi": "claudiajanebates@gmail.com"
        },
        "typeVersion": 1
      },
      {
        "name": "Mailchimp",
        "type": "n8n-nodes-base.mailchimp",
        "position": [
          840,
          450
        ],
        "parameters": {
          "list": "777b2643d4",
          "email": "={{$node[\"Airtable\"].json[\"fields\"][\"Email\"]}}",
          "status": "subscribed",
          "options": {
            "tags": "Interest"
          },
          "mergeFieldsUi": {
            "mergeFieldsValues": [
              {
                "name": "FNAME",
                "value": "={{$node[\"Airtable\"].json[\"fields\"][\"Name\"]}}"
              }
            ]
          }
        },
        "credentials": {
          "mailchimpApi": "claudiajanebates@gmail.com"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Cron": {
        "main": [
          [
            {
              "node": "Airtable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Airtable": {
        "main": [
          [
            {
              "node": "Mailchimp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}