workflows/349_imap_emails_to_nextcloud_tasks.json
{
  "id": "349",
  "filename": "349_imap_emails_to_nextcloud_tasks",
  "description": "Reads new emails from an IMAP account, processes their content, and creates tasks in Nextcloud Deck with relevant details for better project management.",
  "content": {
    "id": 1,
    "name": "Create Nextcloud Deck card from email",
    "nodes": [
      {
        "name": "IMAP Email",
        "type": "n8n-nodes-base.emailReadImap",
        "notes": "Check email",
        "position": [
          480,
          140
        ],
        "parameters": {
          "options": {}
        },
        "credentials": {
          "imap": {
            "id": "2",
            "name": "todo@yourdomain.com"
          }
        },
        "notesInFlow": true,
        "typeVersion": 1
      },
      {
        "name": "Function",
        "type": "n8n-nodes-base.function",
        "notes": "Strip HTML code",
        "position": [
          730,
          140
        ],
        "parameters": {
          "functionCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n\n// Loop over inputs and add a new field called 'myNewField' to the JSON of each one\nfor (item of items) {\n  if (item.json.textHtml) {\n    // Remove HTML, double quotations, line breaks, carriage returns\n    item.json.body = item.json.textHtml.replace(/<br(\\s*?\\/?)>/g, \"\\\\n\").replace(/(<([^>]+)>)/g, \"\").replace(/\\\"/g, \"\");\n    //item.json.body = item.json.textHtml.eplace(/(<([^>]+)>)/g, \"\").replace(/\\\"/g, \"\").replace(/\\n/g, \"\").replace(/\\r/g, \"\");\n  } else {\n    // Remove double quotations, line breaks, carriage returns\n    item.json.body = item.json.textPlain.replace(/\\\"/g, \"\").replace(/\\n/g, \"\\\\n\").replace(/\\r/g, \"\");\n  }\n}\n\n// You can write logs to the browser console\nconsole.log('Done!');\n\nreturn items;"
        },
        "notesInFlow": true,
        "typeVersion": 1
      },
      {
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "notes": "Add card to Nextcloud Deck App. Configure board / stack id to your environment.",
        "position": [
          970,
          140
        ],
        "parameters": {
          "url": "https://your.nextcloud.com/index.php/apps/deck/api/v1.0/boards/YOUR-BOARD-ID/stacks/YOUR-STACK-ID/cards",
          "options": {},
          "requestMethod": "POST",
          "authentication": "basicAuth",
          "jsonParameters": true,
          "bodyParametersJson": "={\n\"title\": \"{{$json[\"subject\"]}}\",\n\"type\": \"plain\",\n\"order\": -1,\n\"description\": \"{{$json[\"body\"]}}\"\n}",
          "headerParametersJson": "{\n\"OCS-APIRequest\": \"true\",\n\"Content-Type\": \"application/json\"\n}"
        },
        "credentials": {
          "httpBasicAuth": {
            "id": "3",
            "name": "Nextcloud credential"
          }
        },
        "notesInFlow": true,
        "typeVersion": 1
      }
    ],
    "active": true,
    "settings": {},
    "connections": {
      "Function": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IMAP Email": {
        "main": [
          [
            {
              "node": "Function",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Automate task creation in Nextcloud from new IMAP emails",
  "nodes_count": 3,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Core Nodes",
    "Development"
  ],
  "services": [
    "Email Trigger (IMAP)",
    "Function",
    "HTTP Request"
  ],
  "difficulty": "Intermediate",
  "triggers": [],
  "actions": [
    "Execute Function"
  ],
  "setup_requirements": [],
  "workflow_complexity": 3,
  "external_integrations_count": 3
}