workflows/477_upload_videos_and_create_playlists.json
{
  "id": "477",
  "filename": "477_upload_videos_and_create_playlists",
  "description": "Triggers video uploads to YouTube, creates a new playlist, and adds the uploaded video to that playlist, streamlining video management.",
  "content": {
    "id": "21",
    "name": "Upload video, create playlist and add video to playlist",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          210,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "YouTube",
        "type": "n8n-nodes-base.youTube",
        "position": [
          610,
          300
        ],
        "parameters": {
          "title": "n8n",
          "options": {},
          "resource": "video",
          "operation": "upload",
          "categoryId": "28",
          "regionCode": "IN",
          "binaryProperty": "=data"
        },
        "credentials": {
          "youTubeOAuth2Api": "google-youtube"
        },
        "typeVersion": 1
      },
      {
        "name": "Read Binary File",
        "type": "n8n-nodes-base.readBinaryFile",
        "position": [
          410,
          300
        ],
        "parameters": {
          "filePath": ""
        },
        "typeVersion": 1
      },
      {
        "name": "YouTube1",
        "type": "n8n-nodes-base.youTube",
        "position": [
          810,
          300
        ],
        "parameters": {
          "title": "n8n",
          "options": {},
          "resource": "playlist",
          "operation": "create"
        },
        "credentials": {
          "youTubeOAuth2Api": "google-youtube"
        },
        "typeVersion": 1
      },
      {
        "name": "YouTube2",
        "type": "n8n-nodes-base.youTube",
        "position": [
          1010,
          300
        ],
        "parameters": {
          "options": {},
          "videoId": "={{$node[\"YouTube\"].json[\"id\"]}}",
          "resource": "playlistItem",
          "playlistId": ""
        },
        "credentials": {
          "youTubeOAuth2Api": "google-youtube"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "YouTube": {
        "main": [
          [
            {
              "node": "YouTube1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "YouTube1": {
        "main": [
          [
            {
              "node": "YouTube2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Binary File": {
        "main": [
          [
            {
              "node": "YouTube",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Read Binary File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Upload videos and create playlists on YouTube",
  "nodes_count": 5,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Core Nodes",
    "Marketing"
  ],
  "services": [
    "Manual",
    "Read Binary File",
    "YouTube"
  ],
  "difficulty": "Beginner",
  "triggers": [
    "New Manual Event"
  ],
  "actions": [
    "Create",
    "Manage playlist",
    "Manage playlistItem",
    "Manage video",
    "Upload"
  ],
  "setup_requirements": [
    "YouTube Account"
  ],
  "workflow_complexity": 5,
  "external_integrations_count": 3
}