workflows/51_monitor_uptime_n8n_website.json
{
  "id": "51",
  "filename": "51_monitor_uptime_n8n_website",
  "description": "Automatically creates and updates a monitor for the n8n website using UptimeRobot, ensuring you are alerted to any downtime.",
  "content": {
    "nodes": [
      {
        "name": "UptimeRobot2",
        "type": "n8n-nodes-base.uptimeRobot",
        "position": [
          890,
          320
        ],
        "parameters": {
          "id": "={{$json[\"id\"]}}",
          "resource": "monitor",
          "operation": "get"
        },
        "credentials": {
          "uptimeRobotApi": "UptimeRobot API Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "UptimeRobot",
        "type": "n8n-nodes-base.uptimeRobot",
        "position": [
          490,
          320
        ],
        "parameters": {
          "url": "https://n8n.io",
          "type": 1,
          "resource": "monitor",
          "operation": "create",
          "friendlyName": "n8n"
        },
        "credentials": {
          "uptimeRobotApi": "UptimeRobot API Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "UptimeRobot1",
        "type": "n8n-nodes-base.uptimeRobot",
        "position": [
          690,
          320
        ],
        "parameters": {
          "id": "={{$json[\"id\"]}}",
          "resource": "monitor",
          "operation": "update",
          "updateFields": {
            "friendly_name": "n8n website"
          }
        },
        "credentials": {
          "uptimeRobotApi": "UptimeRobot API Credentials"
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "UptimeRobot": {
        "main": [
          [
            {
              "node": "UptimeRobot1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UptimeRobot1": {
        "main": [
          [
            {
              "node": "UptimeRobot2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Monitor Uptime of n8n Website with UptimeRobot",
  "nodes_count": 3,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Development"
  ],
  "services": [
    "UptimeRobot"
  ],
  "difficulty": "Beginner",
  "triggers": [],
  "actions": [
    "Create",
    "Get",
    "Manage monitor",
    "Update"
  ],
  "setup_requirements": [
    "UptimeRobot API Key"
  ],
  "workflow_complexity": 3,
  "external_integrations_count": 1
}