workflows/654_add_subscribers_to_convertkit.json
{
  "id": "654",
  "filename": "654_add_subscribers_to_convertkit",
  "description": "Automatically adds new subscribers to a ConvertKit form, creates a tag, and assigns the subscriber to that tag for better audience segmentation.",
  "content": {
    "id": "25",
    "name": "Add subscriber to form, create tag and subscriber to the tag",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          300,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "ConvertKit",
        "type": "n8n-nodes-base.convertKit",
        "position": [
          500,
          300
        ],
        "parameters": {
          "id": 1657198,
          "email": "",
          "additionalFields": {}
        },
        "credentials": {
          "convertKitApi": "convertkit"
        },
        "typeVersion": 1
      },
      {
        "name": "ConvertKit1",
        "type": "n8n-nodes-base.convertKit",
        "position": [
          710,
          300
        ],
        "parameters": {
          "name": "",
          "resource": "tag"
        },
        "credentials": {
          "convertKitApi": "convertkit"
        },
        "typeVersion": 1
      },
      {
        "name": "ConvertKit2",
        "type": "n8n-nodes-base.convertKit",
        "position": [
          910,
          300
        ],
        "parameters": {
          "email": "={{$node[\"ConvertKit\"].json[\"subscriber\"][\"email_address\"]}}",
          "tagId": 1850395,
          "resource": "tagSubscriber",
          "operation": "add",
          "additionalFields": {
            "fields": {
              "field": []
            }
          }
        },
        "credentials": {
          "convertKitApi": "convertkit"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "ConvertKit": {
        "main": [
          [
            {
              "node": "ConvertKit1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ConvertKit1": {
        "main": [
          [
            {
              "node": "ConvertKit2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "ConvertKit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Add subscribers to ConvertKit forms and manage tags",
  "nodes_count": 4,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Core Nodes",
    "Marketing",
    "Sales"
  ],
  "services": [
    "ConvertKit",
    "Manual"
  ],
  "difficulty": "Beginner",
  "triggers": [
    "New Manual Event"
  ],
  "actions": [
    "Add",
    "Manage tag",
    "Manage tagSubscriber"
  ],
  "setup_requirements": [
    "ConvertKit API Key"
  ],
  "workflow_complexity": 4,
  "external_integrations_count": 2
}