workflows/706_telegram_sticker_response.json
{
  "id": "706",
  "filename": "706_telegram_sticker_response",
  "description": "Triggers on new Telegram messages, checks for stickers, and responds with sticker details or a message if no sticker is found.",
  "content": {
    "nodes": [
      {
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "position": [
          450,
          300
        ],
        "parameters": {
          "updates": [
            "message"
          ]
        },
        "credentials": {
          "telegramApi": ""
        },
        "typeVersion": 1
      },
      {
        "name": "Return Sticker",
        "type": "n8n-nodes-base.telegram",
        "position": [
          850,
          200
        ],
        "parameters": {
          "text": "=Hi {{$node[\"Look for Sticker\"].data[\"message\"][\"from\"][\"first_name\"]}}!\nThe ID of the sticker is: {{$node[\"Look for Sticker\"].data[\"message\"][\"sticker\"][\"file_id\"]}}\nIt is part of the sticker-set: {{$node[\"Look for Sticker\"].data[\"message\"][\"sticker\"][\"set_name\"]}}",
          "chatId": "={{$node[\"Look for Sticker\"].data[\"message\"][\"chat\"][\"id\"]}}",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": ""
        },
        "typeVersion": 1
      },
      {
        "name": "Return no Sticker found",
        "type": "n8n-nodes-base.telegram",
        "position": [
          850,
          400
        ],
        "parameters": {
          "text": "=Hi {{$node[\"Look for Sticker\"].data[\"message\"][\"from\"][\"first_name\"]}}!\nYour message did not contain any sticker.",
          "chatId": "={{$node[\"Look for Sticker\"].data[\"message\"][\"chat\"][\"id\"]}}",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": "n8nTestBot"
        },
        "typeVersion": 1
      },
      {
        "name": "Look for Sticker",
        "type": "n8n-nodes-base.if",
        "position": [
          650,
          300
        ],
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{!!$node[\"Telegram Trigger\"].data[\"message\"][\"sticker\"]}}",
                "value2": true
              }
            ]
          }
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "Look for Sticker": {
        "main": [
          [
            {
              "node": "Return Sticker",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return no Sticker found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Look for Sticker",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Respond to Telegram messages with sticker details",
  "nodes_count": 4,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Communication",
    "Core Nodes",
    "HITL"
  ],
  "services": [
    "If",
    "Telegram"
  ],
  "difficulty": "Beginner",
  "triggers": [
    "New Telegram Event"
  ],
  "actions": [
    "Filter Data"
  ],
  "setup_requirements": [
    "Telegram API Key"
  ],
  "workflow_complexity": 4,
  "external_integrations_count": 2
}