workflows/749_daily_affirmations_to_telegram.json
{
  "id": "749",
  "title": "Send Daily Text Affirmations via Telegram",
  "description": "Automatically retrieves a daily affirmation from an API and sends it to your Telegram account every morning at 9 AM, promoting positivity and motivation.",
  "filename": "749_daily_affirmations_to_telegram",
  "services": [
    "Cron",
    "HTTP Request",
    "Telegram"
  ],
  "categories": [
    "Communication",
    "Core Nodes",
    "Development",
    "HITL"
  ],
  "difficulty": "Beginner",
  "triggers": [],
  "actions": [],
  "setup_requirements": [
    "Telegram API Key"
  ],
  "content": {
    "id": "2",
    "name": "Daily Text Affirmations",
    "nodes": [
      {
        "name": "Cron",
        "type": "n8n-nodes-base.cron",
        "position": [
          350,
          380
        ],
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "hour": 9
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          760,
          380
        ],
        "parameters": {
          "url": "https://affirmations.dev",
          "options": {}
        },
        "typeVersion": 1
      },
      {
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "position": [
          1140,
          380
        ],
        "parameters": {
          "text": "=Hey Daniel, here's your daily affirmation...\n\n{{$node[\"HTTP Request\"].json[\"affirmation\"]}}",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": "Telegram Token"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Cron": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}