workflows/76_update_getresponse_contacts.json
{
  "id": "76",
  "filename": "76_update_getresponse_contacts",
  "description": "Triggers manually to retrieve all contacts from GetResponse, filters them, and updates those not in the 'n8n' campaign with a new campaign ID.",
  "content": {
    "id": "116",
    "name": "Get all the contacts from GetResponse and update them",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          250,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "GetResponse",
        "type": "n8n-nodes-base.getResponse",
        "position": [
          450,
          300
        ],
        "parameters": {
          "options": {},
          "operation": "getAll",
          "returnAll": true
        },
        "credentials": {
          "getResponseApi": "getresponse-api"
        },
        "typeVersion": 1
      },
      {
        "name": "IF",
        "type": "n8n-nodes-base.if",
        "position": [
          650,
          300
        ],
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$node[\"GetResponse\"].json[\"campaign\"][\"name\"]}}",
                "value2": "n8n",
                "operation": "notEqual"
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "GetResponse1",
        "type": "n8n-nodes-base.getResponse",
        "position": [
          860,
          200
        ],
        "parameters": {
          "contactId": "={{$node[\"IF\"].json[\"contactId\"]}}",
          "operation": "update",
          "updateFields": {
            "campaignId": "WRVXO"
          }
        },
        "credentials": {
          "getResponseApi": "getresponse-api"
        },
        "typeVersion": 1
      },
      {
        "name": "NoOp",
        "type": "n8n-nodes-base.noOp",
        "position": [
          860,
          400
        ],
        "parameters": {},
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "IF": {
        "main": [
          [
            {
              "node": "GetResponse1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "NoOp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetResponse": {
        "main": [
          [
            {
              "node": "IF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "GetResponse",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Update GetResponse contacts based on campaign criteria",
  "nodes_count": 5,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Communication",
    "Core Nodes",
    "Marketing"
  ],
  "services": [
    "GetResponse",
    "If",
    "Manual",
    "No Operation, do nothing"
  ],
  "difficulty": "Intermediate",
  "triggers": [
    "New Manual Event"
  ],
  "actions": [
    "Filter Data",
    "Getall",
    "Update"
  ],
  "setup_requirements": [
    "GetResponse API Key"
  ],
  "workflow_complexity": 5,
  "external_integrations_count": 4
}