workflows/857_acknowledge_pagerduty_to_mattermost.json
{
  "id": "857",
  "filename": "857_acknowledge_pagerduty_to_mattermost",
  "description": "Automatically acknowledges incidents in PagerDuty and sends a notification to a specified Mattermost channel, improving incident response communication.",
  "content": {
    "nodes": [
      {
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "position": [
          450,
          300
        ],
        "webhookId": "213324b6-b84d-42f9-af3b-42804cc71cd1",
        "parameters": {
          "path": "213324b6-b84d-42f9-af3b-42804cc71cd1",
          "options": {},
          "httpMethod": "POST"
        },
        "typeVersion": 1
      },
      {
        "name": "PagerDuty",
        "type": "n8n-nodes-base.pagerDuty",
        "position": [
          650,
          300
        ],
        "parameters": {
          "email": "n8ndocsburner@gmail.com",
          "operation": "update",
          "incidentId": "={{$json[\"body\"][\"context\"][\"pagerduty_incident\"]}}",
          "updateFields": {
            "status": "acknowledged"
          }
        },
        "credentials": {
          "pagerDutyApi": "PagerDuty Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "Mattermost",
        "type": "n8n-nodes-base.mattermost",
        "position": [
          850,
          300
        ],
        "parameters": {
          "message": "💪🏼 Incident status has been changed to Acknowledged on PagerDuty.",
          "channelId": "={{$node[\"Webhook\"].json[\"body\"][\"channel_id\"]}}",
          "attachments": [],
          "otherOptions": {}
        },
        "credentials": {
          "mattermostApi": "Mattermost Credentials"
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "PagerDuty",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PagerDuty": {
        "main": [
          [
            {
              "node": "Mattermost",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Acknowledge PagerDuty incidents and notify Mattermost channel",
  "nodes_count": 3,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Communication",
    "Core Nodes",
    "Development"
  ],
  "services": [
    "Mattermost",
    "PagerDuty",
    "Webhook"
  ],
  "difficulty": "Intermediate",
  "triggers": [],
  "actions": [
    "Update"
  ],
  "setup_requirements": [
    "Mattermost API Key",
    "PagerDuty API Key"
  ],
  "workflow_complexity": 3,
  "external_integrations_count": 3
}