workflows/86_new_shopify_product_to_twitter_telegram.json
{
  "id": "86",
  "title": "Automate social media updates for new Shopify products",
  "description": "Triggers when a new product is created in Shopify, automatically posting updates to Twitter and Telegram to promote the product.",
  "filename": "86_new_shopify_product_to_twitter_telegram",
  "services": [
    "Shopify",
    "Telegram",
    "X (Formerly Twitter)"
  ],
  "categories": [
    "Communication",
    "HITL",
    "Marketing",
    "Sales"
  ],
  "difficulty": "Beginner",
  "triggers": [
    "New Shopify Event"
  ],
  "actions": [
    "Filter Data"
  ],
  "setup_requirements": [
    "Shopify API Key",
    "Telegram API Key",
    "X (Formerly Twitter) API Key"
  ],
  "content": {
    "nodes": [
      {
        "name": "Twitter",
        "type": "n8n-nodes-base.twitter",
        "position": [
          720,
          -220
        ],
        "parameters": {
          "text": "=Hey there, my design is now on a new product ✨\nVisit my {{$json[\"vendor\"]}} shop to get this cool{{$json[\"title\"]}} (and check out more {{$json[\"product_type\"]}}) 🛍️",
          "additionalFields": {}
        },
        "credentials": {
          "twitterOAuth1Api": "twitter"
        },
        "typeVersion": 1
      },
      {
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "position": [
          720,
          -20
        ],
        "parameters": {
          "text": "=Hey there, my design is now on a new product!\nVisit my {{$json[\"vendor\"]}} shop to get this cool{{$json[\"title\"]}} (and check out more {{$json[\"product_type\"]}})",
          "chatId": "123456",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": "telegram_habot"
        },
        "typeVersion": 1
      },
      {
        "name": "product created",
        "type": "n8n-nodes-base.shopifyTrigger",
        "position": [
          540,
          -110
        ],
        "webhookId": "2a7e0e50-8f09-4a2b-bf54-a849a6ac4fe0",
        "parameters": {
          "topic": "products/create"
        },
        "credentials": {
          "shopifyApi": "shopify_nodeqa"
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "product created": {
        "main": [
          [
            {
              "node": "Twitter",
              "type": "main",
              "index": 0
            },
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}