workflows/948_edit_image_with_webhook_input.json
{
  "id": "948",
  "filename": "948_edit_image_with_webhook_input",
  "description": "Automatically edits an image by adding custom text based on webhook input, allowing for dynamic image generation for notifications or reports.",
  "content": {
    "nodes": [
      {
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "position": [
          700,
          350
        ],
        "parameters": {
          "path": "test",
          "responseData": "firstEntryBinary",
          "responseMode": "lastNode"
        },
        "typeVersion": 1
      },
      {
        "name": "Edit Image",
        "type": "n8n-nodes-base.editImage",
        "position": [
          1100,
          350
        ],
        "parameters": {
          "text": "=They found the killer it was {{$node[\"Webhook\"].data[\"query\"][\"name\"]}}!",
          "fontSize": "=25",
          "operation": "text",
          "positionX": 150,
          "positionY": 180,
          "lineLength": 18
        },
        "typeVersion": 1
      },
      {
        "name": "Read File URL",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          900,
          350
        ],
        "parameters": {
          "url": "https://www.needpix.com/file_download.php?url=//storage.needpix.com/thumbs/newspaper-412809_1280.jpg",
          "responseFormat": "file"
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Read File URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read File URL": {
        "main": [
          [
            {
              "node": "Edit Image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "title": "Edit and Customize Images with Webhook Input",
  "nodes_count": 3,
  "created_at": "2025-06-14T17:34:01.150895Z",
  "updated_at": "2025-06-14T17:34:01.150895Z",
  "categories": [
    "Core Nodes",
    "Development"
  ],
  "services": [
    "HTTP Request",
    "Webhook"
  ],
  "difficulty": "Intermediate",
  "triggers": [],
  "actions": [
    "Text"
  ],
  "setup_requirements": [],
  "workflow_complexity": 3,
  "external_integrations_count": 2
}